---
layout: default
title: filtercake.com
---

<div class="index">
  <p>
    {% include index-header-image.html %}
  </p>


  <h1>Articles</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list__entry">
        <span class="post-list__date">
          {% if post.link %}
            ###### LINK
          {% else %}
            {{ post.date | date_to_string }}
          {% endif %}
          <span class="post-list__raquo">&raquo;</span>
        </span>
          <a class="post-list__link" href="{{ post.url }}">{{ post.title }}</a>{% if post.draft == true %} <b>U</b> {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

