body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

.posts {
  padding: 0;
}

.post-body {
  max-width: 35em;
}

.post-list__entry {
  list-style-type: none;
  /*list-style-position: inside;*/
}
.post-list__date {
  font-family: monospace;
  font-weight: 900;
  font-size:1.2em;
  vertical-align: middle;

}

.post-list__raquo {}

